<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite" parallel ="tests">

<!-- 
<listeners>

<listener class-name='Util.Listens'/>
</listeners> -->

<test name="firefox test">
	<parameter name="browser" value = "firefox"></parameter>
<classes>

			<class name="Parallel.TestBrowser" />
</classes>
</test>

	<test name="chrome test">
	<parameter name="browser" value = "chrome"></parameter>
		<classes>

			<class name="Parallel.TestBrowser" />
		</classes>
	</test>

	<!-- Test -->
</suite> <!-- Suite -->
